
{% comment %} <div class="bg-white rounded-lg shadow-md p-4">
    <div class="flex items-center justify-center">
      <img src="{{ card.image.image.url }}" alt="Card Image" class="w-12 h-12 rounded-full">
    </div>
    <div class="mt-4">
      <h2 class="text-xl font-semibold text-gray-800">Card Title</h2>
      <p class="text-gray-600 mt-2">Card description goes here.</p>
    </div>
  </div> {% endcomment %}

  
  <div class="bg-white rounded-lg shadow-md">
    <div class="relative">
        <a href="{% url 'offer:details' card.offer.id %}">
            <img src="{{ card.image.image.url }}" alt="Card Image" class="w-full h-32 object-cover rounded-t-lg">
        </a>
    </div>
    <div class="p-4">
        <a href="{% url 'offer:details' card.offer.id %}">
            <h6 class="text-xl font-semibold text-gray-800">{{ card.offer.name }}</h2>
        </a>
        <p class="text-gray-600 mt-2">{{ card.offer.description }}</p>
    </div>
  </div>
  