{# used at profile dashbaord #}

<div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-2xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">

    <a href="{% url 'offer:details' card.offer.id %}">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="{{ card.image.image.url }}" alt="">
    </a>
    <div class="flex flex-col justify-between p-4 leading-normal max-w-full">
        <a href="{% url 'offer:details' card.offer.id %}">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white line-clamp-2">{{ card.offer.name }}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ card.offer.make }}, {{ card.offer.model }}</p>
    </div>
    
    <div class="ml-auto flex flex-col">


        {% if offer.which == "mine" %}
            {% include 'offer/confirm_delete.html' with offer=card.offer %}
        {% endif %}
        {% if offer.which == "followed" %}
            <button type="button" onclick="location.href='{% url 'offer:unfollow' card.offer.id %}'" class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Odprati</button>
        {% endif %}
        {% if offer.which == "reported" %}
            <button type="button" onclick="location.href='{% url 'moderator:resolve' card.offer.id %}'" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Okej je</button>
            {% include 'offer/confirm_delete.html' with card=card %}
        {% endif %}
        
    </div>


</div>