{% extends 'frame.html' %}

{% block title %}{{ offer.name }}{% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <img src="{{ offer.image.url }}" class="rounded-xl">
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">{{ offer.name }}</h1>
        <p class="text-gray-500"><strong>Price: </strong>{{ offer.price }}</p>
        <p class="text-gray-500"><strong>Seller: </strong>{{ offer.created_by.username }}</p>
    
        {% if offer.description %}
            <p class="text-gray-700">
                <strong class="text-gray-500">Description:</strong><br>
                {{ offer.description }}
            </p>
        {% endif %}

        {% if request.user == offer.created_by %}
            <div class="mt-6 p-6 bg-white rounded-xl">
                <p>This is your offer!</p>

                <a href="{% url 'offer:edit' offer.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">Edit</a>
                <a href="{% url 'offer:delete' offer.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">Delete</a>
            </div>
        {% else %}  
            <a href="{% url 'conversation:new' offer.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Contact seller</a>
        {% endif %}
    </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Related offers</h2>

    <div class="grid grid-cols-3 gap-3">
        {% for offer in related_offers %}
            <div>
                <a href="{% url 'offer:detail' offer.id %}">
                    <div>
                        <img src="{{ offer.image.url }}" class="rounded-t-xl">
                    </div>

                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{ offer.name }}</h2>
                        <p class="text-gray-500">Price: {{ offer.price }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}