

*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light-bg: slategray;
    --dark-bg: #2C3B4F;
    --button-light: #0f5b95;
    --button-dark: #084879;
}

html {
    height: 100%;
}

body {
    background-color: var(--light-bg);
    color: white;
}

