/* carcreate.html styles */
.form-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-container label {
    font-weight: bold;
  }
  
  .form-container input,
  .form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .form-container button {
    padding: 8px 20px;
  }
  
  /* carsearch.html styles */
  .search-container {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .search-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .search-container button {
    padding: 8px 20px;
  }
  
  .car-list {
    list-style-type: none;
    padding: 0;
  }
  
  .car-list li {
    margin-bottom: 10px;
  }