{% extends 'frame.html' %}

{% block title %}Oglasi{% endblock %}

{% block content %}
    <div class="pb-6 grid grid-cols-4 gap-4 bg-gray-100">
        <div class="col-span-1">
            <form method="get" action="{% url 'search:browse' %}">
                <input name="query" class="w-full py-4 px-6 border rounded-xl" type="text" value="{{ query }}" placeholder="Pretraga...">
                <input type="text" class="w-full py-4 px-6 border rounded-xl" name="make" value="{{ make }}" placeholder="Make">
                <input type="text" class="w-full py-4 px-6 border rounded-xl" name="model" value="{{ model }}" placeholder="Model">
                <input type="number" class="w-full py-4 px-6 border rounded-xl" name="yearStart" value="{{ yearStart }}" placeholder="YearStart">
                <input type="number" class="w-full py-4 px-6 border rounded-xl" name="yearEnd" value="{{ yearEnd }}" placeholder="YearEnd">
                <button type="submit">Search</button>

                <button class="mt-2 py-4 px-8 text-lg bg-teal-500 text-white rounded-xl">Pretraži</button>
            </form>

            <hr class="my-6">

            <ul>
                <li><a href="{% url 'search:browse' %}" class="mt-2 py-4 px-8 inline-block bg-yellow-500 text-lg rounded-xl text-white">Ukloni pretragu</a>
        </div>

        <div class="col-span-3">
            <div class="grid grid-cols-3 gap-3">
                {% for offer in offers %}
                {% include 'offer/card.html' with card=offer %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}