body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	background-color: #f5f5f5;
}

header {
	background-color: green;
	color: white;
	padding: 20px;
	text-align: center;
}

header h1 {
	margin: 0;
	font-size: 40px;
}

nav {
	background-color: bisque;
	padding: 10px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

nav li {
	display: inline-block;
}

nav a {
	display: block;
	padding: 10px;
	color: darkslategray;
	text-decoration: none;
}

nav a:hover {
	background-color: goldenrod;
	color: white;
}

main {
	padding: 20px;
}

main h2 {
	font-size: 25px;
	margin-top: 40px;
	margin-bottom: 20px;
}

main ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

main li {
	flex-basis: 30%;
	background-color: white;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

main h3 {
	margin-top: 0;
}

a h3 {
	color:black;
}

li a {
	text-decoration: none;
}

main img {
	max-width: 100%;
}

.follow-button, .submit-button, .login-button {
	margin-top: 10px;
	padding: 10px;
	background-color: darkslategrey;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.follow-button {
	display: block;
}

.follow-button:hover, .submit-button:hover {
	background-color: gray;
}

#followed-ads-list {
	margin-top: 40px;
}