{% extends 'frame.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <a href={% url 'account:logoutuser' %} class="px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl hover:bg-gray-700">Log out</a>
        <h2 class="mb-12 text-2xl text-center">My offers</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for offer in offers %}
                <div>
                    <a href="#">
                        <div>
                            <img src="{{ offer.image.url }}" class="rounded-t-xl">
                        </div>

                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">{{ offer.name }}</h2>
                            <p class="text-gray-500">Price: {{ offer.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}